/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Ubuntu Mono', monospace; */

*,
*::before,
*::after {
  box-sizing: border-box;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
* {
  margin: 0;
}

:focus,
:hover,
:active {
  outline: none;
}

:root {
  /* 
font-size: var(fs-text)
clamp(min, target, max)
*/

  /* Test project-height on mobile! */
  --projects-height: clamp(12rem, 60vmin, 65vh);
  --projects-height-mobile: clamp(20rem, 80vmin, 65vh);

  --project-width: clamp(30vw, 50vmin, 44vw);
  --window-shadow: rgba(126, 126, 126, 0) 0px 0px 2px 1px;

  --fs-navbar: clamp(1.3rem, 1vw + 1.2rem, 2.6rem);
  --sz-logo-nav: clamp(2.5rem, 1.7vw + 2rem, 3.5rem);
  --sz-icon-social: clamp(1.8rem, 1.4vw + 1rem, 2.5rem);
  --fs-heading: clamp(1.2rem, 1.2vw + 1.2rem, 3.5rem);
  --bottom-row-icon-size: clamp(1.5rem, 1vw + 0.9rem, 2.5rem);
  --bottom-row-icon-size-mobile: clamp(1.8rem, 1.1vw + 1rem, 3rem);

  --fs-text: clamp(0.8rem, 0.4vw + 0.6rem, 1.6rem);

  --fs-text-projects: clamp(0.8rem, 0.75vw + 0.25rem, 1.6rem);

  --fs-bigger-text-mobile: clamp(0.84rem, 0.4vw + 0.7rem, 2rem);

  --fs-text-mobile: clamp(0.6rem, 0.7vw + 0.55rem, 1.8rem);

  --f-text-color: white;

  --fs-window-title: clamp(1rem, 0.25vw + 0.9rem, 1.8rem);
  --fs-project-title: clamp(1rem, 0.95vw + 0.3rem, 1.8rem);
  --padding: clamp(0.2rem, 1.4vw + 0.4rem, 2.5rem);

  --padding-projects-text: clamp(0.3rem, 0.6vw + 0.3rem, 1.6rem);

  --padding-small: clamp(0.35rem, 0.3vw + 0.12rem, 1.5rem);
  --padding-micro: clamp(0.2rem, 0.15vw + 0.05rem, 1rem);

  --SlSocialLinkedin: clamp(2.5rem, 1.7vw + 2rem, 3.5rem);

  --fs-icon-task: clamp(1rem, 2vw + 1rem, 2rem);
  --fs-icon-task-caption: clamp(1rem, 2vw + 1rem, 2rem);
  --fs-icon-caption: clamp(1rem, 2vw + 1rem, 2rem);
}

body {
  overflow: hidden;

  /* background: rgb(239, 63, 123);
  background: linear-gradient(
    0deg,
    rgba(239, 63, 123, 1) -33%,
    rgba(83, 44, 140, 1) 18%,
    rgba(21, 13, 50, 1) 63%,
    rgba(0, 0, 0, 1) 100%
  ); */
}

.video-background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column-reverse;
  font-family: "Ubuntu Mono", monospace;
}

/* .pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(transparent, rgb(246, 1, 1));
  background-image: url("./img/patternElement.png");
  background-repeat: repeat;
} */

/* .pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(246, 1, 1, 0.5));
  overflow: hidden;
} */

.pattern-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("./img/16svg.svg");
  background-repeat: repeat;
  background-size: 40px 40px;
  z-index: 15;
}

.pattern-reveal {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0.9) 40%,
    rgba(0, 0, 0, 0.81) 75%,
    rgba(0, 0, 0, 0.72) 88%,
    rgba(0, 0, 0, 0.45) 93%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100vw;
  height: 100vh;
  z-index: 30;
}

.pattern-mask {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: opacity 4s ease-out;
  z-index: -1;
}

.pattern-mask.animate {
  opacity: 0;
}

/* 
.pattern-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 0, 0, 0) 40%
  );
  z-index: 10;
  transition: opacity 0s ease;
}

.pattern-mask.animate {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 1;
} */

.login-button {
  height: auto;
  z-index: 51;
  background-color: #282828;
  border: 2px solid #a3a3a3;
  color: #ebebeb;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  width: 230px;

  /* margin-top: 50px;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); */
  height: auto;
  z-index: 51;
}

.boot-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  z-index: 20;
}

.boot-screen-text {
  z-index: 22;
  color: white;
}
.spinner {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  z-index: 50;
}

.logoBoot {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 300;
  max-width: 100%;
  max-height: 100%;
  text-align: center; /* Add text-align: center to center the image horizontally */
}

.logoBoot img {
  height: auto;
  max-width: 100%; /* Use max-width instead of width to maintain aspect ratio */
}

.logoBoot img {
  width: 55%;
  box-shadow: 0px 0px 30px 0px #f370a2b1;
  border-radius: 50%;
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  to {
    box-shadow: 0px 0px 15px 0px #8a3958b1;
  }
}

.login-screen {
  display: none;
  background-color: #aa0404;
}

.loginComplete {
  color: green;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 2rem;
  height: 30vh;
  width: 100vw;
}

.login-button {
  height: auto;
  z-index: 51;
  background-color: #282828;
  border: 2px solid #a3a3a3;
  color: #ebebeb;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  width: 230px;

  /* margin-top: 50px;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); */
  height: auto;
  z-index: 51;
}

@supports (height: 100dvh) {
  .app {
    height: 100dvh;
  }
  .icons {
    height: 100dvh;
  }
}

/* .appTablet {
  display: flex;
  width: 100vw;
  height: -webkit-fill-available;
  flex-direction: column-reverse;
  font-family: "Ubuntu Mono", monospace;
} */

.navbar {
  display: flex;
  width: 100%;

  flex-direction: row;
  padding: var(--padding-small);
  /* background-color: rgba(37, 37, 37, 0.314); */
  background: rgb(37, 37, 37);
  background: linear-gradient(
    0deg,
    rgba(37, 37, 37, 0.3) 70%,
    rgba(134, 134, 134, 0.141) 100%
  );
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(15px);
}

.nav-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: var(--fs-navbar);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 1rem;
}

#logo {
  height: var(--sz-logo-nav);
}
.nav-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}
.nav-social-svg {
  font-size: var(--sz-icon-social);
}

.nav-socials a {
  color: white;
}

.nav-social-svg:hover {
  transform: scale(1.07);
  transition: all 0.1s linear;
}

/* #github {
  width: 2rem;

  transition: all 0.2s linear;
}
#github:hover {
  transform: scale(1.15);
}

#linkedin {
  width: 2rem;

  transition: all 0.2s linear;
}
#linkedin:hover {
  transform: scale(1.15);
}

#download {
  width: 2rem;
}

#linkedin:hover {
  transform: scale(1.15);
} */

.nav-download-button {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* display: hidden; */
  /* font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;

  color: rgb(255, 255, 255);
  transition: all 0.35s;
  margin-top: 10px;
  margin-right: 7px;
  transition: all 0.2s linear; */
}
.nav-download-button-text {
  /* display: none; */
}
.nav-download-button:active {
  /* transition-duration: 0.3s;
  color: rgb(0, 0, 0);
  transform: scale(0.95); */
}

.nav-download-button:hover {
  /* transform: scale(1.08); */
}

.nav-icon-task {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 1rem;

  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

.icon-task {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  border-bottom: 1px solid #ffffff;
  padding-left: 0.5rem;
  padding-right: 0.3rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  /* height: 4rem; */
}

.icon-task:hover {
  background-color: rgba(255, 255, 255, 0.084);
}

.icon-task-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.caption-task {
  color: white;
}
.icon-task-icon {
  color: white;
  font-size: 1.9rem;
}
.close-window-task {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 1.5rem;
  width: 1.5rem; */
  text-align: center;
  color: white;
  font-weight: 900;
  font-size: 1.25rem;
  margin-top: 0.07rem;
  margin: 0.2rem;
  padding: 0.15rem;
}

.close-window-task:hover {
  background-color: rgba(210, 46, 46, 0.423);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: var(--padding);
  height: 100vh;
  width: auto;
}

.imageW {
  width: 500px;
}
.container {
  position: relative;
  border: 2px solid rgba(207, 207, 207, 0.155);
  box-sizing: border-box;
  box-shadow: 0 2px 5px #111;
}

.project-animation {
  display: block;
  width: var(--project-width);
}

.project-description-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000f5;
  overflow: hidden;
  height: 0;
  transition: 0.4s ease-in;
}

/* .project-title-overlay {
  position: absolute;
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000f5;
  overflow: hidden;
  font-size: var(--fs-project-title);
  transition: 0.2s ease;
  text-align: center;
} */

.project-title-overlay {
  color: white;
  background-color: #000000f6;
  padding-top: var(--padding-micro);
  padding-bottom: var(--padding-micro);
  overflow: hidden;
  font-size: var(--fs-project-title);
  transition: 0.2s ease;
  text-align: center;
}

.container:hover .project-description-overlay {
  height: 100%;
}
.container:hover .project-title-overlay {
  color: #dc000000;
  background-color: #00000000;
}

.text {
  color: var(--f-text-color);
  position: absolute;
  font-size: var(--fs-text-projects);
  width: var(--project-width);
  height: 100%;
  padding: var(--padding-projects-text);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text p {
  text-align: left;
}
.text a {
  text-align: right;
}
.text-bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text-bottom-row-icon {
  font-size: var(--bottom-row-icon-size);
}
.text-bottom-row-icons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--padding);
}

.hover :hover {
  transform: scale(1.1);
  transition: all 0.1s linear;
}

.text-bottom-row-singleicon-wrapper {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-bottom-row-singleicon-wrapper:hover {
  transform: scale(1.1);
  transition: all 0.1s linear;
}

.projects {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: fit-content;
  /* height: fit-content; */
  z-index: 5;
  height: var(--projects-height);
  box-shadow: var(--window-shadow);

  /* background-color: #222333; */
  /* box-shadow: 13px 13px 3px 2px rgba(70, 1, 34, 0.341);
  box-shadow: 13px 13px 3px 2px rgba(70, 1, 34, 0.341); */
}

.projectsScroll {
  flex: 1;
  display: flex;
  overflow: auto;
  flex-direction: column;
  padding-left: var(--padding);
  padding-right: var(--padding);
}

.projectsField {
  display: flex;
  flex-direction: column;
  gap: var(--padding);
  /* min-height: min-content; */
  height: var(--projects-height);
}
.projectsRow {
  display: flex;
  gap: var(--padding);
}

.projectsExplain {
  padding: 1rem;
  font-size: var(--fs-text);
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.deviceInfo {
  box-shadow: var(--window-shadow);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  z-index: 4;
  font-size: var(--fs-text);
}

.imageW:hover {
  filter: brightness(15%);
  transition: all 0.5s ease;
}

.interface-grid {
  align-items: start;
}
.iconWrapper {
  width: 5rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}

.iconWrapper:hover {
  transform: scale(1.07);
  transition: all 0.1s linear;
}

.icon {
  width: 2.8rem;
  height: auto;
  color: white;
}
/* 
.iconWrapper:hover {
  transform: scale(1.08);
  transition: all 0.2s linear;
} */

/* .caption {
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  padding-top: 4px;
} */

.caption {
  text-align: center;
  color: white;
  text-decoration: none;
  padding-bottom: 1.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotatey(0deg);
  }
  to {
    transform: rotatey(360deg);
  }
}

/* #about {
  display: none;
} */

/* #terminal {
  display: none;
} */

/* #projects {
  display: none;
}
#deviceInfo {
  display: none;
} */

.start {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 3;
  max-width: fit-content;
  height: fit-content;
  /* box-shadow: rgba(101, 41, 141, 0.467) 0px 5px 23px 0px,
    rgba(126, 126, 126, 0.181) 0px 0px 0px 1px; */
  box-shadow: var(--window-shadow);
}

.startText {
  max-width: 50ch;
  padding: 1rem;
  font-size: var(--fs-text);
  line-height: 1.1rem;
}

/* .nav-icon-task > * {
  display: none;
} */
.about {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 3;
  max-width: fit-content;
  height: fit-content;
  box-shadow: var(--window-shadow);
}

.terminal2 {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 45%;
  height: fit-content;
  margin: auto;
  z-index: 3;

  box-shadow: var(--window-shadow);
  font-size: var(--fs-text);
}

.aboutText {
  max-width: 70ch;
  padding: 1rem;
  /* line-height: 1.32rem; */
}

.aboutText h1 {
  font-size: var(--fs-navbar);
  padding-bottom: 1rem;
}

.aboutText p {
  font-size: var(--fs-text);
}

#terminal {
  /* width: 90vw;
  max-width: 1000px;
  height: 65vh; */

  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /* height: 70vh; */
  height: 45%;
  font-size: var(--fs-text);
  width: 45%;
  z-index: 2;
  box-shadow: var(--window-shadow);
}

#audioPlayer2 {
  position: "relative";
  display: "flex";
  justify-content: center;
  align-items: center;
  width: 50%;
}

.btn {
  margin-left: 10px;
  border: none;
  height: 13px;
  width: 13px;
  /* border-radius: 50%; */
  /* box-shadow: 0 2px 2px #33333375; */
}

/* .red {
  background-color: #ff4136;
} */

.close {
  background-color: transparent;
}
.close-window {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: var(--fs-navbar); */
  width: 3em;
  text-align: center;
  color: white;
  font-weight: 900;
  font-size: var(--fs-window-title);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.close-window:hover {
  background-color: rgba(210, 46, 46, 0.423);
}
.error {
  color: #ffffff00;
}
.yellow {
  background-color: #ffffff85;
}
.info {
  color: #ffdc00;
}
.green {
  background-color: #2ecc40;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.icon-window {
  width: 1.6rem;
  height: 1.6rem;
}
#title {
  font-size: var(--fs-window-title);
}
/* #field  */

#window {
  /* background: rgb(239, 63, 123);
  background: linear-gradient(
    90deg,
    rgba(239, 63, 123, 1) -33%,
    rgba(223, 29, 55, 1) 0%,
    rgba(15, 105, 93, 1) 100%
  ); */

  /* background: rgb(89, 36, 78);
  background: linear-gradient(
    90deg,
    rgba(89, 36, 78, 1) 0%,
    rgba(124, 3, 55, 1) 100%
  ); */

  /* background: #77014ea0; */
  /* background: #cfcfcf46; */

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  cursor: move;
  backdrop-filter: blur(23px);
  margin-bottom: -1px;
}

#field {
  height: calc(100% - 40px);
  padding: 5px;
  backdrop-filter: blur(15px);
  overflow: auto;
  overflow-wrap: break-word;

  /* border: 0.3rem solid #1f1b26fa; */
  /* border: 0.3rem solid #141732; */
  /* background-color: #1f1b26f9; */

  /*
  GOOD SHAIT:
  background-color: #2a2a2a3f;
  backdrop-filter: blur(60px); */

  /* background-color: #0f0e0ff3; */
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #211f21f3;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* #field::-webkit-scrollbar {
  width: 10px;
}
#field.dark::-webkit-scrollbar-thumb {
  background-color: #333444;
}
#field.light::-webkit-scrollbar-thumb {
  background-color: #bba9a9;
} */
#field > div {
  min-height: 20px;
  width: 100%;
  cursor: default;
}

#input-container {
  display: flex;
}
#query,
#cursor {
  display: inline-block;
}
#query {
}
#cursor {
  position: relative;
  bottom: -2px;
  left: 2px;
  width: 0.5rem;
  height: 3px;
}

.wrg-toggle {
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  margin-left: 3px;
  margin-right: 3px;
}

.wrg-toggle-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.wrg-toggle-check,
.wrg-toggle-uncheck {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  opacity: 0;
  transition: opacity 0.25s ease;
}
.wrg-toggle-check {
  left: 8px;
}
.wrg-toggle-uncheck {
  opacity: 1;
  right: 10px;
}

.wrg-toggle-uncheck span,
.wrg-toggle-check span {
  align-items: center;
  display: flex;
  height: 10px;
  justify-content: center;
  position: relative;
  width: 10px;
}

.wrg-toggle-container {
  width: 50px;
  height: 24px;
  border-radius: 30px;
  background-color: #575757;
  transition: all 0.2s ease;
}

.wrg-toggle-circle {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  /* border: 1px solid #4d4d4d; */
  border-radius: 50%;
  background-color: #fafafa;
  box-sizing: border-box;
  transition: all 0.25s ease;
}

.virtualKey {
  color: #000000;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.wrg-toggle--checked .wrg-toggle-check {
  opacity: 1;
}
.wrg-toggle--checked .wrg-toggle-uncheck {
  opacity: 0;
}
.wrg-toggle--checked .wrg-toggle-circle {
  left: 27px;
  background-color: #fffefe;
}
.wrg-toggle--checked .wrg-toggle-container {
  left: 27px;
  border-width: 0.01%;
  background-color: #77b477;
}

.wrg-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

/* wrg.toggle to control the spacing on the toggle btn*/

.active {
  background-color: #04aa6d;
}

#right {
  float: right;
}

.coinWrapper {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 1rem;
  right: 1rem;
}

.coin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin::before {
  content: "";
  display: block;
  position: relative;
  height: var(--coin-size);
  width: var(--coin-size);
  border-radius: 50%;
  background-color: var(--face);
  animation: spin 2.3s linear infinite;
  background-image: var(--coin-face);
  background-size: 100% 100%;
  background-position: center;
  background-blend-mode: overlay;
}

@keyframes spin {
  0% {
    width: var(--coin-size);
    box-shadow: 0 0 0 var(--side-dark);
    animation-timing-function: ease-in;
  }

  49.999% {
    width: 0.1rem;
    box-shadow: 0.05rem 0 0 var(--side), 0.1rem 0 0 var(--side),
      0.15rem 0 0 var(--side), 0.2rem 0 0 var(--side), 0.25rem 0 0 var(--side),
      0.3rem 0 0 var(--side), 0.35rem 0 0 var(--side), 0.4rem 0 0 var(--side),
      0.45rem 0 0 var(--side), 0.5rem 0 0 var(--side), 0.55rem 0 0 var(--side),
      0.6rem 0 0 var(--side), 0.65rem 0 0 var(--side), 0.7rem 0 0 var(--side),
      0.75rem 0 0 var(--side);
    transform: translateX(-0.375rem);
    background-color: var(--lowlight);
    animation-timing-function: linear;
  }

  50.001% {
    width: 0.1rem;
    box-shadow: -0.05rem 0 0 var(--side), -0.1rem 0 0 var(--side),
      -0.15rem 0 0 var(--side), -0.2rem 0 0 var(--side),
      -0.25rem 0 0 var(--side), -0.3rem 0 0 var(--side),
      -0.35rem 0 0 var(--side), -0.4rem 0 0 var(--side),
      -0.45rem 0 0 var(--side), -0.5rem 0 0 var(--side),
      -0.55rem 0 0 var(--side), -0.6rem 0 0 var(--side),
      -0.65rem 0 0 var(--side), -0.7rem 0 0 var(--side),
      -0.75rem 0 0 var(--side);
    transform: translateX(0.375rem);
    background-color: var(--lowlight);
    animation-timing-function: ease-out;
  }

  100% {
    width: var(--coin-size);
    box-shadow: 0 0 0 var(--side-dark);
  }
}

@keyframes blink-dark {
  0%,
  100% {
    background-color: #f4f4f4;
  }
  50% {
    background-color: transparent;
  }
}
@keyframes blink-light {
  0%,
  100% {
    background-color: #ae3100;
  }
  50% {
    background-color: transparent;
  }
}
@media only screen and (max-width: 800px), (max-height: 400px) {
  .app {
    flex-direction: column;
    overflow: hidden;
    /* height: 100cqh; */
    /* height: -webkit-fill-available;
    height: -moz-available;
    height: fill-available; */
    /* maximum-scale:1; */
  }

  .video-background {
    height: stretch;
  }

  .nav-heading {
    gap: 0.5rem;
  }

  .nav-socials {
    gap: 0.5rem;
  }

  .nav-download-button {
    display: none;
  }
  .navbar {
    justify-content: space-between;
    align-items: center;
  }

  .nav-icon-task {
    display: none;
  }

  .nav-socials {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icons {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 0;
    padding-bottom: 0.5rem;
  }

  .iconWrapper {
    width: fit-content;
  }

  .caption {
    padding: 0.5rem;
  }

  .terminal2 {
    width: 90%;
    margin-top: 20%;
  }

  .projects {
    height: var(--projects-height-mobile);
    margin-top: 15%;
  }

  .projectsField {
    height: var(--projects-height-mobile);
    gap: 1.5rem;
  }

  .projectsRow {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .project-animation {
    width: 100%;
    height: auto;
  }
  .text {
    width: 100%;
    font-size: var(--fs-text-mobile);
  }
  .text-bottom-row {
    font-size: var(--fs-bigger-text-mobile);
  }

  .text-bottom-row-icon {
    font-size: var(--bottom-row-icon-size-mobile);
  }

  .text-bottom-row-icons-wrapper {
    gap: 1.5rem;
  }

  /* #terminal {
    margin-top: -50px;
    height: 32vh;
    max-height: 300px;
    width: 95vw;
    min-width: 95vw;
  }
  #field {
    height: 32vh;
  }

  .navbar {
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0px;
    margin: 0;
    margin-top: 3vh;
  }

  .nav-heading {
    margin-left: auto;
    margin-right: auto;
  }

  .nav-socials {
    margin-left: auto;
    margin-right: auto;
  }

  .navbar p {
    padding: 0px;
    margin: 0px;
  } */
}
